.nav-item .active{
  font-size: 1.3rem;
  font-weight: bold;
  border-bottom: 2px solid blueviolet;
  color: blueviolet !important;
  margin-left: 2rem;
}

.slide{
  background-size: cover;
  height: 80vh;
  background-position: right;
}

.btn{
  border: 2px solid blueviolet;
}

.btn:hover{
  background-color: blueviolet;
  color: white;
}

/* @media screen and (max-width: 1200px){
  .slide{
    background-size: cover;
    height: 75vh;
    background-position: left;
  }
}
@media screen and (max-width: 800px){
  .slide{
    height: 65vh;
    background-position: left;
  }
} */

